@import 'tailwindcss';
@import './fonts/fonts.css';

:root {
  --dark-white: #f8fafb;
  --gray: #71717a;
  --light-gray: #e4e4e7;
  --light-blue: #eaf4f6;
  --blue: #2491aa;
  --gray-blue: #1a7488;
  --dark-blue: #1a2332;
  --red: #ef4444;
}

@theme inline {
  --color-dark-white: var(--dark-white);
  --color-gray: var(--gray);
  --color-light-gray: var(--light-gray);
  --color-light-blue: var(--light-blue);
  --color-blue: var(--blue);
  --color-gray-blue: var(--gray-blue);
  --color-dark-blue: var(--dark-blue);
  --color-red: var(--red);
}

* {
  font-family: 'Inter';
}

body {
  background-color: #f8fafb;
}
