@import 'tailwindcss';
@import './fonts/fonts.css';

:root {
  --dark-white: #f8fafb;
  --light-gray: #e4e4e7;
  --light-blue: #eaf4f6;
  --blue: #2491aa;
  --dark-blue: #1a2332;
  --red: #ef4444;
}

@theme inline {
  --color-dark-white: var(--dark-white);
  --color-light-gray: var(--light-gray);
  --color-light-blue: var(--light-blue);
  --color-blue: var(--blue);
  --color-dark-blue: var(--dark-blue);
  --color-red: var(--red);
}

* {
  font: Inter;
}
